# Mac
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints

# R
.Rhistory
.Rapp.history
.RData
.Rproj.user/
.Rproj.user
*.Rproj

# Other
.sass-cache/
.jekyll-metadata

# Folders
_archives/
data/
support/

# Files
temp_test.do
